@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
  
    .nav__list{
      display: flex;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__toggle{
      display: none;
    }
  
    .nav__item{
      margin-left: var(--mb-5);
      margin-bottom: 0;
      text-transform: uppercase;
    }
  
    /********************* End Of Part 1************************************/
  
    .section{
      padding-top: 8rem;
    }
    .home__container{
      height: 100vh;
      justify-items: center;
    }
  
    /********************************** End Of Part 2 **************************************/
  
    .change-theme{
      margin-left: var(--mb-2);
    }
  
    /********************************* End Of Part 3****************************************/
    .features__container{
      margin-top: var(--mb-6);
    }
  
  }
  
  
  
  @media screen and (min-width: 960px){
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
  
      /********************* End Of Part 1************************************/
  
      .home__img{
        width: 500px;
      }
  
  }
  
  
  @media screen and (min-width: 576px){
      /********************* End Of Part 1************************************/
  
      .home__container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
      }
  }
  
  
  